################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Catcheap/Catcheap/bin/Debug
/Catcheap/.vs/Catcheap
/Catcheap/Catcheap/obj/Debug/net6.0-android
/Catcheap/Catcheap/obj/Debug
