################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Catcheap/Catcheap/bin/*
/Catcheap/.vs/Catcheap
/Catcheap/Catcheap/obj/*
